#footer
{
    color: white;
    font-weight: bold;
}


.footer-top {
    background: url(images/top-footer.png) repeat-x;
    height: 39px;
    margin-top: -9px;
}

.footer-top-texto {
    margin-left: 3255px;
    margin-top: 14px;
  
    width: 500px;
    height: 39px;
}

.footer-top-telefone {
    margin-left: 4167px;
    margin-top: -39px;
    font-family: Ebrima, 'Myriad Pro';
    width: 500px;
    height: 39px;
}


.footer-bottom {
    background: url(images/bottom-footer.png) repeat-x;
    margin-top: 30px;
    height: 94px;
}

.footer-topo-botao {
    background: url(images/footer-botao.png) repeat-x;
    margin-left: 50%;
    width: 36px;
    height: 17px;
    margin-top: -23px;
}

.footer-act-logo {
    margin-left: 4369px;
    width: 106px;
    height: 29px;
    margin-top: 30px;
    background: url(images/actmob-footer-logo.png);
}

.footer-endereco-texto {
    margin-left: 3490px;
    margin-top: 20px;
    position: absolute;
    width: 450px;
    text-align: left;
}

.fundo {
    margin-left: -3500px;
    position: absolute;
    z-index: -9010;
    width: 7000px;
}
